<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<table>
    <tr>
        <td x="0" y="0">{{ cell.0 }}</td> <td x="1" y="0">{{ cell.1 }}</td> <td x="2" y="0">{{ cell.2 }}</td>
    </tr>
    <tr>
        <td x="0" y="1">{{ cell.3 }}</td> <td x="1" y="1">{{ cell.4 }}</td> <td x="2" y="1">{{ cell.5 }}</td>
    </tr>
    <tr>
        <td x="0" y="2">{{ cell.6 }}</td> <td x="1" y="2">{{ cell.7 }}</td> <td x="2" y="2">{{ cell.8 }}</td>
    </tr>
</table>

<button>reset</button>

<script>
$( "td" ).click(function() {
  var x = $( this ).attr( "x" );
  var y = $( this ).attr( "y" );
  $.post("/turn", { x: x, y: y }, function(result) {
    console.log(result);
    var lastTurn = result.last_turn;
    var winner = result.winner
    // $("span").html(result);
    // this is wrong if it's not my turn, it will write the other user's symbol into the cell that i clicked
    $("[x=" + x + "][y=" + y + "]").text(lastTurn);
  });
});

$( "button" ).click(function() {
  $.post("/reset", {}, function(result) {
    console.log(result);
  });
});

function executeQuery() {
  $.ajax({
    url: '/state',
    success: function(data) {
      var x = data.x;
      var y = data.y;
      var lastTurn = data.last_turn;
      $("[x=" + x + "][y=" + y + "]").text(lastTurn);
    }
  });
  setTimeout(executeQuery, 1000); // you could choose not to continue on failure...
}

$(document).ready(function() {
  // run the first time; all subsequent calls will take care of themselves
  setTimeout(executeQuery, 1000);
});
</script>

</body>
</html>